* {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: inherit;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Timmana', sans-serif;
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: .5em;
}

p {
  font-size: 14px;
  line-height: 2;
}

a {
  color: blue;
}

.Header {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #fafafa;
}

.Header .Header-logo {
  display: inline;
  line-height: 0;
  font-size: 20px;
  font-family: 'Timmana', sans-serif;
  margin-right: .2em;
  position: relative;
  top: -.2em;
  cursor: pointer;
}

.Header .Header-btns {
  line-height: 0;
  float: right;
}

.Header .Header-btns span {
  line-height: 0;
}

.Outer {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mv {
  background-color: #DFEDF2;
}

.Mv .Mv-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}

.Mv .Mv-title span {
  font-weight: normal;
  font-size: 25%;
  display: block;
  position: relative;
  top: -1em;
}

.Mv .Mv-text {
  margin-top: 2em;
}

.Intro {
  background-color: #fafafa;
}

.Key {
  background-color: #E2F2D6;
}

.Scroll {
  background-color: #fff5f5;
}

.Scroll .Outer {
  height: 150%;
}

.Scroll .Scroll-box {
  height: 100px;
  overflow: auto;
  margin-top: 1em;
  border: 1px solid #999;
  padding: 10px;
}

.Anchor {
  background-color: #F9FBBB;
}

.Start .Mv-title {
  margin-bottom: 30px;
}

.Start p {
  text-align: center;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  background-color: #1FCA4F;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  width: 200px;
  border-bottom: 5px solid #158835;
  border-radius: 3px;
}

@media screen and (max-width: 667px) {
  h2 {
    font-size: 24px;
  }
  .Header .Header-btns {
    float: none;
    line-height: 1;
  }
  .Header .Header-logo {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 0 10px;
    line-height: 1;
    top: .3em;
  }
  .Mv .Mv-title {
    font-size: 55px;
  }
  .Inner {
    padding: 30px 40px;
  }
  .Start p {
    text-align: left;
  }
  .btn {
    width: 100%;
  }
}
