.outer {
  display: table;
  height: 100%;
  width: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  padding: 50px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.heading {
  font-family: 'Martel', serif;
  font-size: 40px;
}

.btn {
  background-color: #1fca4f;
  color: white;
  margin: 0 auto;
  max-width: 220px;
  display: block;
  border-radius: 3px;
  line-height: 50px;
  text-decoration: none;
  border-bottom: 5px solid #158835;
  position: relative;
}

.Top, .Start {
  background-image: linear-gradient(120deg, #73d4db 0%, #66a6ff 100%);
}

.Top .Top-heading, .Start .Top-heading {
  font-size: 80px;
  margin: 0;
  line-height: 1;
}

.Top .Top-text, .Start .Top-text {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 40px;
  position: relative;
  top: -5px;
  font-family: 'Martel', serif;
}

.Top .container, .Start .container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.Top .chevron, .Start .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.Top .chevron:first-child, .Start .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.Top .chevron:nth-child(2), .Start .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.Top .chevron:before,
.Top .chevron:after, .Start .chevron:before,
.Start .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.Top .chevron:before, .Start .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.Top .chevron:after, .Start .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.Top .text, .Start .text {
  display: block;
  margin-top: 50px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .8;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.NojQ {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.Keypress {
  background-image: linear-gradient(120deg, #cd9cf2 0%, #e4bcff 100%);
}

.Scroller {
  background-image: linear-gradient(120deg, #feada6 0%, #febeb4 100%);
}

.Scroller .outer {
  height: 150%;
}

.Scroller .Scroller-box {
  height: 200px;
  overflow: auto;
  border: 2px solid white;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.Links {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.Start {
  background-image: linear-gradient(120deg, #73d4db 0%, #66a6ff 100%);
}

.ib {
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .inner {
    padding: 20px 50px;
  }
  .heading {
    font-size: 30px;
  }
  .Top .Top-heading, .Start .Top-heading {
    font-size: 45px;
  }
  .Top .Top-text, .Start .Top-text {
    font-size: 12px;
    top: 0;
  }
}
